* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

/* FIX HERE */
html, body {
  width: 100%;
  min-height: 100%;
}

body {
  background: rgb(30, 30, 30);
  color: white;
  /* remove these two lines causing viewport issues */
  /* overflow: hidden;      */
  /* overflow-y: scroll;    */
}
